* {      
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #F8F8FF;
  }

  .btn-ligh{
    background-color: #edebeb;
  }
  .btn-ligh:hover{
    background-color: #edebeb;
  }
  
  .titulo_centro {
    color: #1c7b90;
    text-align: center;
    margin: 12px;
  }
  
  .titulo_centro h3 {
    font-weight: bold;
    padding-left: 0;
  }
  
  .titulo_centro h4 {
    color: #000000;
  }
  
  #margin_cadastro {
    margin-top: 1%;
    margin-left: 88.5%;
  
  }
  
  #margin_salvar {
    margin-right: 801%;
  }
  
  .query_box {
    background-color: #B0E0E6;
    border-radius: 8px;
    font-weight: bolder;
    padding-bottom: 15px;  
  }
  
  
  .create_box {
    background-color: #B0E0E6;
    border-radius: 8px;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 8px;
  }
  
  #margin_pesquisar {
    margin-right: 15px;
    margin-left: 10%;
  }
  
  .row_color {
    background-color: #edebeb;
    border-radius: 8px;
    padding-bottom: 10px;
  }
  
  .button_margin_top {
    margin-top: 10px;
  }
  
  .button_margin_top button {
    margin-left: 86%;
  }